.container-reserva {
    text-align: start;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-reserva Input{
    margin-bottom: 20px;
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.container-salas-disponiveis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 200px;
}

.tabela-reservas {
    width: 640;
}