@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container-registrar {
    background-image: url('https://www.virtualoffice.com.br/img/slidesunidades/sala-de-reuniao-rio-de-janeiro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 80px;
}

.form-registrar {
    background-color: rgba(0, 0, 0, .6);
    width: 600px;
    padding: 100px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.form-registrar h1 {
    margin-bottom: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.form-registrar input {
    margin-bottom: 30px;
}

.form-registrar button {
    width: 100px;
    margin-bottom: 15px;
}

.form-registrar .alert {
    color: red;
    font-size: 14pt;
}

.form-registrar .link {
    color: white;
    text-decoration: underline;
}

.label {
    width: 90%;
    color: white;
    font-size: 14pt;
}