.container-salas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.teste{
    width: 200px;
    height: 200px;
    background: black;
}

.container-form-salas {
    width: 400px;
    text-align: start;
    margin: 40px;
}

.container-salas Input{
    margin-bottom: 20px;
}

.sala-coluna {
    padding: 100px;
}

.button-sala {
    cursor: pointer;
}

.button-save-sala {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-tabela-salas{
    max-width: 600px;
    margin-top: 50px;
}